# Tv data

In [1]:
library(readxl)

media_tv <- read_excel("Media_Data.xlsx", sheet=3)
head(media_tv)

  Genre                 Type      Week_number Month Date   Year Brand
1 GENERAL ENTERTAINMENT promotion 35          Aug   24-Aug 2020 B1
2 GENERAL ENTERTAINMENT promotion 36          Aug   31-Aug 2020 B1
3 GENERAL ENTERTAINMENT promotion 36          Aug   31-Aug 2020 B1
4 GENERAL ENTERTAINMENT promotion 36          Aug   31-Aug 2020 B1
5 GENERAL ENTERTAINMENT promotion 36          Aug   31-Aug 2020 B1
6 GENERAL ENTERTAINMENT promotion 36          Sep   1-Sep  2020 B1
  Start_Time Length GRP Spends    Month_num
1 20:58:08   15     6    879.5024 8
2 20:57:48   15     6    879.5024 8
3 21:21:22   15     6    879.5024 8
4 21:37:21   15     6    879.5024 8
5 21:51:09   15     6    879.5024 8
6 20:00:18   15     6   1099.3133 9

In [2]:
unique(media_tv$Type)

[1] "promotion"   "regular"     "Regular"     "Sponsorship" "Promotion"

In [3]:
colSums(is.na(media_tv))

      Genre        Type Week_number       Month        Date        Year
          0           0           0        6278           0           0
      Brand  Start_Time      Length         GRP      Spends   Month_num
          0           0           0           0           0           0

In [4]:
library(dplyr)
a <- media_tv %>%
  group_by(Year, Month_num) %>%
  summarise(spends = sum(Spends, na.rm=TRUE), GRP = sum(GRP, na.rm=TRUE))


head(a)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

  Year Month_num spends    GRP
1 2018 1          509158.7 1507.403
2 2018 2          167309.6 1011.356
3 2018 3         1015164.0 3160.615
4 2018 4         1289588.0 3575.840
5 2018 5          577394.8 1508.846
6 2018 6         2379346.6 2491.533

In [5]:
dim(a)

[1] 23  4

In [6]:
names(a)[names(a) == 'Month_num'] <- 'Month'

names(a)[names(a) == 'spends'] <- 'tv_spends'

# Digital Media Data

In [7]:
dig_media <- read_excel("Media_Data.xlsx", sheet=2)
head(dig_media)

  Date       Month Year Week Edit_size Type          Platform       Brand
1 2018-02-17 2     2018  7   10s       Top Snap Only SnapChat       B1
2 2018-03-02 3     2018  9   15        Video         facebook       B1
3 2018-03-02 3     2018  9   15        Video         instagram      B1
4 2018-03-04 3     2018 10   15.7      Video         shahid.mbc.net B1
5 2018-03-04 3     2018 10   15.7      Video         shahid.mbc.net B1
6 2018-03-04 3     2018 10   15.72     Video         TubeMogul MENA B1
  Impressions Views  Completed_Views Engagement Spends   Clicks
1 2157384     474414 102222               0      2808.57 0
2  354447     136986  19992          137433       260.13 0
3  104661      26463   4245           26787        54.96 0
4  243624     243465 229281            1752     14252.00 0
5  239280     239097 226212            1596     13997.88 0
6  113451     113067  32979            2091      2638.32 0
  Campaign_Objective
1 Promotion
2 Promotion
3 Promotion
4 Promotion
5 Promotion
6 Promotion

In [8]:
colSums(is.na(dig_media))

              Date              Month               Year               Week
                 0                  0                  0                  0
         Edit_size               Type           Platform              Brand
              4741               3651                  0                  0
       Impressions              Views    Completed_Views         Engagement
                 0                  0                  0                  0
            Spends             Clicks Campaign_Objective
                 0                 50                  0

In [9]:
# imputing null values in clicks with 0
dig_media$Clicks[is.na(dig_media$Clicks)] <- 0


dig_media$Type[is.na(dig_media$Type)] <- 'New_type'

In [10]:
colSums(is.na(dig_media))

              Date              Month               Year               Week
                 0                  0                  0                  0
         Edit_size               Type           Platform              Brand
              4741                  0                  0                  0
       Impressions              Views    Completed_Views         Engagement
                 0                  0                  0                  0
            Spends             Clicks Campaign_Objective
                 0                  0                  0

In [11]:
library(dplyr)
b <- dig_media %>%
  group_by(Year, Month) %>%
  summarise(views = sum(Views, na.rm=TRUE), completed_views = sum(Completed_Views, na.rm=TRUE), Impressions = sum(Impressions, na.rm=TRUE), Engagement = sum(Engagement, na.rm=TRUE), Clicks = sum(Clicks, na.rm=TRUE), Spends = sum(Spends, na.rm=TRUE))

head(b)

  Year Month views    completed_views Impressions Engagement Clicks Spends
1 2018 2       474414   102222.0        2157384          0   0        2808.57
2 2018 3     61774029 25774483.6      221973072   33529623   0      747358.36
3 2018 4     66864690 37638613.0      216255933    9868470   0      853006.24
4 2018 5      2801142   802691.5       15879387    1402281   0       45376.06
5 2018 6     18822180  7488233.7      100096371    8423886   0      601876.52
6 2018 9      5639664  1036050.0       30063381    3034887   0       38695.23

In [12]:
dim(b)

[1] 28  8

In [13]:
names(b)[names(b) == 'views'] <- 'dig_views'

names(b)[names(b) == 'completed_views'] <- 'dig_completed_views'

names(b)[names(b) == 'Impressions'] <- 'dig_Impressions'

names(b)[names(b) == 'Engagement'] <- 'dig_Engagement'

names(b)[names(b) == 'Clicks'] <- 'dig_Clicks'

names(b)[names(b) == 'Spends'] <- 'dig_Spends'

# OOH Data

In [14]:
media_ooh <- read_excel("Media_Data.xlsx", sheet=4)
head(media_ooh)

  Brand Year Format    Month Spends
1 B1    2017 Billboard DEC    543613.80
2 B1    2017 Billboard DEC     63027.69
3 B1    2018 Billboard DEC    645237.24
4 B1    2018 Billboard MAR    467140.08
5 B1    2018 Billboard APR    604362.48
6 B1    2019 Megacom   DEC   1136490.00

In [15]:
colSums(is.na(media_ooh))

 Brand   Year Format  Month Spends
     0      0      0      0      0

In [16]:
library(dplyr)
c <- media_ooh %>%
  group_by(Year, Month) %>%
  summarise(spends = sum(Spends, na.rm=TRUE))

head(c)

  Year Month spends
1 2017 DEC    606641.5
2 2018 APR    604362.5
3 2018 DEC    645237.2
4 2018 MAR    467140.1
5 2019 DEC   1525801.4
6 2019 JAN   2680861.1

In [17]:
dim(c)

[1] 12  3

In [18]:
names(c)[names(c) == 'spends'] <- 'ooh_Spends'

# Macro data

In [19]:
macro <- read_excel("Macro_Data.xlsx", sheet=1)

head(macro)

  MONTH_YEAR Temp_City1 Temp_City2 Temp_City3 Temp_City4 Temp_City5 Oil_Prices
1 2018-01-01 20         27         27         22         22         63
2 2018-02-01 25         29         31         27         27         63
3 2018-03-01 30         30         34         32         32         63
4 2018-04-01 32         31         35         33         33         68
5 2018-05-01 37         35         39         38         38         68
6 2018-06-01 41         35         41         40         40         68
  Gasoline_Prices Inflation CCI ... total_confirmed_cases new_confirmed_cases
1 2.025           3.0        95 ... 0                     0
2 2.025           2.9        95 ... 0                     0
3 2.025           2.8        95 ... 0                     0
4 2.025           2.5       107 ... 0                     0
5 2.025           2.3       107 ... 0                     0
6 2.025           2.1       107 ... 0                     0
  total_deaths new_total_deaths retail_and_recreation_mobility_index
1 0            0                0
2 0            0                0
3 0            0                0
4 0            0                0
5 0            0                0
6 0            0                0
  grocery_and_pharmacy_mobility_index residential_mobility_index
1 0                                   0
2 0                                   0
3 0                                   0
4 0                                   0
5 0                                   0
6 0                                   0
  transit_stations_mobility_index parks_mobility_index
1 0                               0
2 0                               0
3 0                               0
4 0                               0
5 0                               0
6 0                               0
  workplaces_mobility_index
1 0
2 0
3 0
4 0
5 0
6 0

In [20]:
dim(macro)

[1] 41 23

In [21]:
str(macro)

Classes 'tbl_df', 'tbl' and 'data.frame':	41 obs. of  23 variables:
 $ MONTH_YEAR                          : POSIXct, format: "2018-01-01" "2018-02-01" ...
 $ Temp_City1                          : num  20 25 30 32 37 41 42 41 41 34 ...
 $ Temp_City2                          : num  27 29 30 31 35 35 36 36 34 35 ...
 $ Temp_City3                          : num  27 31 34 35 39 41 44 40 39 37 ...
 $ Temp_City4                          : num  22 27 32 33 38 40 40 41 41 34 ...
 $ Temp_City5                          : num  22 27 32 33 38 40 40 41 41 34 ...
 $ Oil_Prices                          : num  63 63 63 68 68 68 69 69 69 59 ...
 $ Gasoline_Prices                     : num  2.02 2.02 2.02 2.02 2.02 ...
 $ Inflation                           : num  3 2.9 2.8 2.5 2.3 2.1 2.2 2.2 2.1 2.4 ...
 $ CCI                                 : num  95 95 95 107 107 107 106 106 106 109 ...
 $ GDP                                 : num  1.38 1.38 1.38 1.58 1.58 1.58 2.45 2.45 2.45 4.26 ...
 $ Population                          : num  33702756 33702756 33702756 33702756 33702756 ...
 $ stringency_index                    : num  0 0 0 0 0 0 0 0 0 0 ...
 $ total_confirmed_cases               : num  0 0 0 0 0 0 0 0 0 0 ...
 $ new_confirmed_cases                 : num  0 0 0 0 0 0 0 0 0 0 ...
 $ total_deaths                        : num  0 0 0 0 0 0 0 0 0 0 ...
 $ new_total_deaths                    : num  0 0 0 0 0 0 0 0 0 0 ...
 $ retail_and_recreation_mobility_index: num  0 0 0 0 0 0 0 0 0 0 ...
 $ grocery_and_pharmacy_mobility_index : num  0 0 0 0 0 0 0 0 0 0 ...
 $ residential_mobility_index          : num  0 0 0 0 0 0 0 0 0 0 ...
 $ transit_stations_mobility_index     : num  0 0 0 0 0 0 0 0 0 0 ...
 $ parks_mobility_index                : num  0 0 0 0 0 0 0 0 0 0 ...
 $ workplaces_mobility_index           : num  0 0 0 0 0 0 0 0 0 0 ...

In [22]:
month_macro = macro[c('MONTH_YEAR', 'Oil_Prices', 'CCI', 'total_confirmed_cases', 'stringency_index')]

month_macro['Temp'] = rowMeans(macro[,c(2,6)])

head(month_macro)

  MONTH_YEAR Oil_Prices CCI total_confirmed_cases stringency_index Temp
1 2018-01-01 63          95 0                     0                21.0
2 2018-02-01 63          95 0                     0                26.0
3 2018-03-01 63          95 0                     0                31.0
4 2018-04-01 68         107 0                     0                32.5
5 2018-05-01 68         107 0                     0                37.5
6 2018-06-01 68         107 0                     0                40.5

# Neilsen shipment data

In [23]:
shipment <- read_excel("Nielsen_Shipment Data.xlsx", sheet=1)

names(shipment)[names(shipment) == 'Internal_sum_d&a'] <- 'Internal_disc_a'

head(shipment)

  MONTH_YEAR CHANNEL                 MONTH YEAR Comp1_NIELSEN_VALUE_SALES
1 2018-01-01 MINIMARKET/SELF SERVICE 1     2018 5183.91
2 2018-02-01 MINIMARKET/SELF SERVICE 2     2018 4730.85
3 2018-03-01 MINIMARKET/SELF SERVICE 3     2018 5649.12
4 2018-04-01 MINIMARKET/SELF SERVICE 4     2018 5125.59
5 2018-05-01 MINIMARKET/SELF SERVICE 5     2018 5648.16
6 2018-06-01 MINIMARKET/SELF SERVICE 6     2018 4593.00
  Comp2_NIELSEN_VALUE_SALES B1_NIELSEN_VALUE_SALES Comp3_NIELSEN_VALUE_SALES
1 1143.30                   26478.78               6092.04
2 1260.51                   24823.89               5997.33
3 1550.31                   29412.51               6374.76
4 1269.12                   30085.02               6170.61
5 1378.26                   31100.25               6744.51
6 1277.94                   25003.59               5605.20
  Comp4_NIELSEN_VALUE_SALES Comp5_NIELSEN_VALUE_SALES ...
1 1924.17                   7086.36                   ...
2 1813.53                   6862.89                   ...
3 2508.45                   7440.15                   ...
4 2835.12                   7692.12                   ...
5 3252.09                   7999.50                   ...
6 2813.55                   7590.30                   ...
  Comp3_NIELSEN_ABS_TDP_ND Comp4_NIELSEN_ABS_TDP_ND Comp5_NIELSEN_ABS_TDP_ND
1 309.6250                 218.5143                 536.4216
2 330.6183                 220.0108                 565.5517
3 294.5765                 258.1316                 542.7097
4 274.2998                 288.4993                 543.3250
5 296.7594                 293.1946                 556.0395
6 315.4311                 293.4360                 565.1340
  Comp6_NIELSEN_ABS_TDP_ND Internal_sum_volumeKg Internal_sum_grossrev
1 296.1548                 972.2894              9033962
2 307.5383                 975.7128              9106867
3 310.3569                 806.2391              7766168
4 303.6793                 870.8058              8338325
5 291.5473                 676.1504              6623947
6 289.1364                 778.6683              7422233
  Internal_sum_unitsales Internal_disc_a Corrected_Volume Quarter
1 22920648               648990.0        835.1155         Q1
2 22458411               658636.7        774.1404         Q1
3 20122479               802615.3        925.5180         Q1
4 22222101               800926.3        947.0378         Q2
5 17720106               754330.3        952.1822         Q2
6 19655754               593277.5        766.2630         Q2

In [24]:
shipment['Avg_selling_price'] = shipment['B1_NIELSEN_VALUE_SALES'] / shipment['B1_NIELSEN_VOLUME_SALES']
shipment['Discount_percent'] = shipment['Internal_disc_a']/ shipment['Internal_sum_grossrev']

In [25]:
ship = shipment[c('MONTH_YEAR','YEAR', 'MONTH', 'CHANNEL', 'Avg_selling_price', 'Discount_percent', 'B1_NIELSEN_ABS_TDP_ND', 
                  'B1_NIELSEN_ABS_TDP_WD', 'B1_NIELSEN_ND', 'B1_NIELSEN_WD', 'Corrected_Volume')]

head(ship)

  MONTH_YEAR YEAR MONTH CHANNEL                 Avg_selling_price
1 2018-01-01 2018 1     MINIMARKET/SELF SERVICE 39.51923
2 2018-02-01 2018 2     MINIMARKET/SELF SERVICE 39.96751
3 2018-03-01 2018 3     MINIMARKET/SELF SERVICE 39.60994
4 2018-04-01 2018 4     MINIMARKET/SELF SERVICE 39.59497
5 2018-05-01 2018 5     MINIMARKET/SELF SERVICE 40.70997
6 2018-06-01 2018 6     MINIMARKET/SELF SERVICE 40.67069
  Discount_percent B1_NIELSEN_ABS_TDP_ND B1_NIELSEN_ABS_TDP_WD B1_NIELSEN_ND
1 0.07183892       1197.817              1485.939              93.4411
2 0.07232309       1159.026              1427.133              95.0123
3 0.10334766       1245.945              1534.842              95.6716
4 0.09605361       1258.732              1555.042              96.2691
5 0.11387929       1281.986              1577.628              95.7646
6 0.07993248       1232.130              1483.458              94.7312
  B1_NIELSEN_WD Corrected_Volume
1 99.2707       835.1155
2 99.3042       774.1404
3 99.3408       925.5180
4 99.5732       947.0378
5 99.4477       952.1822
6 99.3201       766.2630

In [26]:
names(ship)[names(ship) == 'YEAR'] <- 'Year'

names(ship)[names(ship) == 'MONTH'] <- 'Month'

In [27]:
head(a)

  Year Month tv_spends GRP
1 2018 1      509158.7 1507.403
2 2018 2      167309.6 1011.356
3 2018 3     1015164.0 3160.615
4 2018 4     1289588.0 3575.840
5 2018 5      577394.8 1508.846
6 2018 6     2379346.6 2491.533

In [28]:
df1 = merge(ship,a, by= c('Year', 'Month'),  all.x = TRUE)

head(df1)

  Year Month MONTH_YEAR CHANNEL                 Avg_selling_price
1 2018 1     2018-01-01 MINIMARKET/SELF SERVICE 39.51923
2 2018 1     2018-01-01 TRADITIONAL TRADE       39.29161
3 2018 1     2018-01-01 NATIONAL                38.86158
4 2018 1     2018-01-01 SUPERMARKETS            37.13494
5 2018 2     2018-02-01 NATIONAL                38.42603
6 2018 2     2018-02-01 SUPERMARKETS            35.50799
  Discount_percent B1_NIELSEN_ABS_TDP_ND B1_NIELSEN_ABS_TDP_WD B1_NIELSEN_ND
1 0.07183892       1197.8169             1485.939               93.4411
2 0.07677612       1709.0011             2433.886               89.2726
3 0.10470124        979.6539             1506.198               88.2747
4 0.30657942       1745.7119             1876.192               98.5919
5 0.11226216        928.1955             1452.975               89.7091
6 0.30728774       1751.8780             1878.786              100.0000
  B1_NIELSEN_WD Corrected_Volume tv_spends GRP
1  99.2707       835.1155        509158.7  1507.403
2  99.0985      2356.0462        509158.7  1507.403
3  99.2683      3712.3501        509158.7  1507.403
4  99.9903       521.1885        509158.7  1507.403
5  99.1820      3476.5452        167309.6  1011.356
6 100.0000       571.3434        167309.6  1011.356

In [29]:
dim(df1)

[1] 164  13

In [30]:
df2 = merge(df1,b, by= c('Year', 'Month'),  all.x = TRUE)

head(df2)

  Year Month MONTH_YEAR CHANNEL                 Avg_selling_price
1 2018 1     2018-01-01 MINIMARKET/SELF SERVICE 39.51923
2 2018 1     2018-01-01 TRADITIONAL TRADE       39.29161
3 2018 1     2018-01-01 NATIONAL                38.86158
4 2018 1     2018-01-01 SUPERMARKETS            37.13494
5 2018 2     2018-02-01 TRADITIONAL TRADE       39.17436
6 2018 2     2018-02-01 MINIMARKET/SELF SERVICE 39.96751
  Discount_percent B1_NIELSEN_ABS_TDP_ND B1_NIELSEN_ABS_TDP_WD B1_NIELSEN_ND
1 0.07183892       1197.8169             1485.939              93.4411
2 0.07677612       1709.0011             2433.886              89.2726
3 0.10470124        979.6539             1506.198              88.2747
4 0.30657942       1745.7119             1876.192              98.5919
5 0.07899075       1594.1895             2260.825              91.4898
6 0.07232309       1159.0257             1427.133              95.0123
  B1_NIELSEN_WD Corrected_Volume tv_spends GRP      dig_views
1 99.2707        835.1155        509158.7  1507.403     NA
2 99.0985       2356.0462        509158.7  1507.403     NA
3 99.2683       3712.3501        509158.7  1507.403     NA
4 99.9903        521.1885        509158.7  1507.403     NA
5 98.8824       2131.0614        167309.6  1011.356 474414
6 99.3042        774.1404        167309.6  1011.356 474414
  dig_completed_views dig_Impressions dig_Engagement dig_Clicks dig_Spends
1     NA                   NA         NA             NA              NA
2     NA                   NA         NA             NA              NA
3     NA                   NA         NA             NA              NA
4     NA                   NA         NA             NA              NA
5 102222              2157384          0              0         2808.57
6 102222              2157384          0              0         2808.57

In [31]:
dim(df2)

[1] 164  19

In [32]:
df3 = merge(df2,c, by= c('Year', 'Month'),  all.x = TRUE)

head(df3)

  Year Month MONTH_YEAR CHANNEL                 Avg_selling_price
1 2018 1     2018-01-01 MINIMARKET/SELF SERVICE 39.51923
2 2018 1     2018-01-01 TRADITIONAL TRADE       39.29161
3 2018 1     2018-01-01 NATIONAL                38.86158
4 2018 1     2018-01-01 SUPERMARKETS            37.13494
5 2018 2     2018-02-01 TRADITIONAL TRADE       39.17436
6 2018 2     2018-02-01 MINIMARKET/SELF SERVICE 39.96751
  Discount_percent B1_NIELSEN_ABS_TDP_ND B1_NIELSEN_ABS_TDP_WD B1_NIELSEN_ND
1 0.07183892       1197.8169             1485.939              93.4411
2 0.07677612       1709.0011             2433.886              89.2726
3 0.10470124        979.6539             1506.198              88.2747
4 0.30657942       1745.7119             1876.192              98.5919
5 0.07899075       1594.1895             2260.825              91.4898
6 0.07232309       1159.0257             1427.133              95.0123
  B1_NIELSEN_WD Corrected_Volume tv_spends GRP      dig_views
1 99.2707        835.1155        509158.7  1507.403     NA
2 99.0985       2356.0462        509158.7  1507.403     NA
3 99.2683       3712.3501        509158.7  1507.403     NA
4 99.9903        521.1885        509158.7  1507.403     NA
5 98.8824       2131.0614        167309.6  1011.356 474414
6 99.3042        774.1404        167309.6  1011.356 474414
  dig_completed_views dig_Impressions dig_Engagement dig_Clicks dig_Spends
1     NA                   NA         NA             NA              NA
2     NA                   NA         NA             NA              NA
3     NA                   NA         NA             NA              NA
4     NA                   NA         NA             NA              NA
5 102222              2157384          0              0         2808.57
6 102222              2157384          0              0         2808.57
  ooh_Spends
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

In [33]:
dim(df3)

[1] 164  20

In [49]:
df4 = merge(df3,month_macro, by= "MONTH_YEAR",  all.x = TRUE)

head(df4)

  MONTH_YEAR Year Month CHANNEL                 Avg_selling_price
1 2018-01-01 2018 1     MINIMARKET/SELF SERVICE 39.51923
2 2018-01-01 2018 1     TRADITIONAL TRADE       39.29161
3 2018-01-01 2018 1     NATIONAL                38.86158
4 2018-01-01 2018 1     SUPERMARKETS            37.13494
5 2018-02-01 2018 2     TRADITIONAL TRADE       39.17436
6 2018-02-01 2018 2     MINIMARKET/SELF SERVICE 39.96751
  Discount_percent B1_NIELSEN_ABS_TDP_ND B1_NIELSEN_ABS_TDP_WD B1_NIELSEN_ND
1 0.07183892       1197.8169             1485.939              93.4411
2 0.07677612       1709.0011             2433.886              89.2726
3 0.10470124        979.6539             1506.198              88.2747
4 0.30657942       1745.7119             1876.192              98.5919
5 0.07899075       1594.1895             2260.825              91.4898
6 0.07232309       1159.0257             1427.133              95.0123
  B1_NIELSEN_WD ... dig_Impressions dig_Engagement dig_Clicks dig_Spends
1 99.2707       ...      NA         NA             NA              NA
2 99.0985       ...      NA         NA             NA              NA
3 99.2683       ...      NA         NA             NA              NA
4 99.9903       ...      NA         NA             NA              NA
5 98.8824       ... 2157384          0              0         2808.57
6 99.3042       ... 2157384          0              0         2808.57
  ooh_Spends Oil_Prices CCI total_confirmed_cases stringency_index Temp
1 NA         63         95  0                     0                21
2 NA         63         95  0                     0                21
3 NA         63         95  0                     0                21
4 NA         63         95  0                     0                21
5 NA         63         95  0                     0                26
6 NA         63         95  0                     0                26

In [50]:
dim(df4)

[1] 164  25

In [51]:
# Impute null values with 0

df4[is.na(df4)] <- 0

In [52]:
head(df4)

  MONTH_YEAR Year Month CHANNEL                 Avg_selling_price
1 2018-01-01 2018 1     MINIMARKET/SELF SERVICE 39.51923
2 2018-01-01 2018 1     TRADITIONAL TRADE       39.29161
3 2018-01-01 2018 1     NATIONAL                38.86158
4 2018-01-01 2018 1     SUPERMARKETS            37.13494
5 2018-02-01 2018 2     TRADITIONAL TRADE       39.17436
6 2018-02-01 2018 2     MINIMARKET/SELF SERVICE 39.96751
  Discount_percent B1_NIELSEN_ABS_TDP_ND B1_NIELSEN_ABS_TDP_WD B1_NIELSEN_ND
1 0.07183892       1197.8169             1485.939              93.4411
2 0.07677612       1709.0011             2433.886              89.2726
3 0.10470124        979.6539             1506.198              88.2747
4 0.30657942       1745.7119             1876.192              98.5919
5 0.07899075       1594.1895             2260.825              91.4898
6 0.07232309       1159.0257             1427.133              95.0123
  B1_NIELSEN_WD ... dig_Impressions dig_Engagement dig_Clicks dig_Spends
1 99.2707       ...       0         0              0             0.00
2 99.0985       ...       0         0              0             0.00
3 99.2683       ...       0         0              0             0.00
4 99.9903       ...       0         0              0             0.00
5 98.8824       ... 2157384         0              0          2808.57
6 99.3042       ... 2157384         0              0          2808.57
  ooh_Spends Oil_Prices CCI total_confirmed_cases stringency_index Temp
1 0          63         95  0                     0                21
2 0          63         95  0                     0                21
3 0          63         95  0                     0                21
4 0          63         95  0                     0                21
5 0          63         95  0                     0                26
6 0          63         95  0                     0                26

In [53]:
dim(df4)

[1] 164  25

In [54]:
write.csv(df4,"merged_primary_data.csv", row.names = FALSE)

In [40]:
mini_market = subset(df4, df4$CHANNEL == "MINIMARKET/SELF SERVICE")

head(mini_market)

   MONTH_YEAR Year Month CHANNEL                 Avg_selling_price
1  2018-01-01 2018 1     MINIMARKET/SELF SERVICE 39.51923
6  2018-02-01 2018 2     MINIMARKET/SELF SERVICE 39.96751
10 2018-03-01 2018 3     MINIMARKET/SELF SERVICE 39.60994
15 2018-04-01 2018 4     MINIMARKET/SELF SERVICE 39.59497
19 2018-05-01 2018 5     MINIMARKET/SELF SERVICE 40.70997
24 2018-06-01 2018 6     MINIMARKET/SELF SERVICE 40.67069
   Discount_percent B1_NIELSEN_ABS_TDP_ND B1_NIELSEN_ABS_TDP_WD B1_NIELSEN_ND
1  0.07183892       1197.817              1485.939              93.4411
6  0.07232309       1159.026              1427.133              95.0123
10 0.10334766       1245.945              1534.842              95.6716
15 0.09605361       1258.732              1555.042              96.2691
19 0.11387929       1281.986              1577.628              95.7646
24 0.07993248       1232.130              1483.458              94.7312
   B1_NIELSEN_WD ... dig_Impressions dig_Engagement dig_Clicks dig_Spends
1  99.2707       ...        NA             NA       NA                NA
6  99.3042       ...   2157384              0        0           2808.57
10 99.3408       ... 221973072       33529623        0         747358.36
15 99.5732       ... 216255933        9868470        0         853006.24
19 99.4477       ...  15879387        1402281        0          45376.06
24 99.3201       ... 100096371        8423886        0         601876.52
   ooh_Spends Oil_Prices CCI total_confirmed_cases stringency_index Temp
1  NA         63          95 0                     0                21.0
6  NA         63          95 0                     0                26.0
10 NA         63          95 0                     0                31.0
15 NA         68         107 0                     0                32.5
19 NA         68         107 0                     0                37.5
24 NA         68         107 0                     0                40.5

In [41]:
super_market = subset(df4, df4$CHANNEL == "SUPERMARKETS")

head(super_market)

   MONTH_YEAR Year Month CHANNEL      Avg_selling_price Discount_percent
4  2018-01-01 2018 1     SUPERMARKETS 37.13494          0.3065794
7  2018-02-01 2018 2     SUPERMARKETS 35.50799          0.3072877
11 2018-03-01 2018 3     SUPERMARKETS 35.81099          0.2527888
14 2018-04-01 2018 4     SUPERMARKETS 34.50596          0.2706684
20 2018-05-01 2018 5     SUPERMARKETS 36.26805          0.3211792
21 2018-06-01 2018 6     SUPERMARKETS 34.91255          0.2839599
   B1_NIELSEN_ABS_TDP_ND B1_NIELSEN_ABS_TDP_WD B1_NIELSEN_ND B1_NIELSEN_WD ...
4  1745.712              1876.192               98.5919       99.9903      ...
7  1751.878              1878.786              100.0000      100.0000      ...
11 1903.123              2046.542              100.0000      100.0000      ...
14 1965.440              2090.069              100.0000      100.0000      ...
20 1956.018              2078.128              100.0000      100.0000      ...
21 1938.154              2000.122              100.0000      100.0000      ...
   dig_Impressions dig_Engagement dig_Clicks dig_Spends ooh_Spends Oil_Prices
4         NA             NA       NA                NA  NA         63
7    2157384              0        0           2808.57  NA         63
11 221973072       33529623        0         747358.36  NA         63
14 216255933        9868470        0         853006.24  NA         68
20  15879387        1402281        0          45376.06  NA         68
21 100096371        8423886        0         601876.52  NA         68
   CCI total_confirmed_cases stringency_index Temp
4   95 0                     0                21.0
7   95 0                     0                26.0
11  95 0                     0                31.0
14 107 0                     0                32.5
20 107 0                     0                37.5
21 107 0                     0                40.5

In [42]:
national = subset(df4, df4$CHANNEL == "NATIONAL")

head(national)

   MONTH_YEAR Year Month CHANNEL  Avg_selling_price Discount_percent
3  2018-01-01 2018 1     NATIONAL 38.86158          0.1047012
8  2018-02-01 2018 2     NATIONAL 38.42603          0.1122622
9  2018-03-01 2018 3     NATIONAL 38.44085          0.1122354
16 2018-04-01 2018 4     NATIONAL 38.03426          0.1035930
18 2018-05-01 2018 5     NATIONAL 39.44110          0.1345373
22 2018-06-01 2018 6     NATIONAL 39.05821          0.1124960
   B1_NIELSEN_ABS_TDP_ND B1_NIELSEN_ABS_TDP_WD B1_NIELSEN_ND B1_NIELSEN_WD ...
3   979.6539             1506.198              88.2747       99.2683       ...
8   928.1955             1452.975              89.7091       99.1820       ...
9   989.4197             1560.674              89.6840       99.1759       ...
16 1005.5566             1595.052              90.0458       99.2522       ...
18 1031.5425             1605.810              89.5371       99.2006       ...
22  989.1157             1523.892              89.2956       99.0490       ...
   dig_Impressions dig_Engagement dig_Clicks dig_Spends ooh_Spends Oil_Prices
3         NA             NA       NA                NA  NA         63
8    2157384              0        0           2808.57  NA         63
9  221973072       33529623        0         747358.36  NA         63
16 216255933        9868470        0         853006.24  NA         68
18  15879387        1402281        0          45376.06  NA         68
22 100096371        8423886        0         601876.52  NA         68
   CCI total_confirmed_cases stringency_index Temp
3   95 0                     0                21.0
8   95 0                     0                26.0
9   95 0                     0                31.0
16 107 0                     0                32.5
18 107 0                     0                37.5
22 107 0                     0                40.5

In [43]:
traditional_trade = subset(df4, df4$CHANNEL == "TRADITIONAL TRADE")

head(traditional_trade)

   MONTH_YEAR Year Month CHANNEL           Avg_selling_price Discount_percent
2  2018-01-01 2018 1     TRADITIONAL TRADE 39.29161          0.07677612
5  2018-02-01 2018 2     TRADITIONAL TRADE 39.17436          0.07899075
12 2018-03-01 2018 3     TRADITIONAL TRADE 39.11982          0.06889961
13 2018-04-01 2018 4     TRADITIONAL TRADE 39.11844          0.06503951
17 2018-05-01 2018 5     TRADITIONAL TRADE 40.20792          0.09279205
23 2018-06-01 2018 6     TRADITIONAL TRADE 40.27856          0.07456964
   B1_NIELSEN_ABS_TDP_ND B1_NIELSEN_ABS_TDP_WD B1_NIELSEN_ND B1_NIELSEN_WD ...
2  1709.001              2433.886              89.2726       99.0985       ...
5  1594.189              2260.825              91.4898       98.8824       ...
12 1686.212              2427.196              91.7270       98.9813       ...
13 1701.764              2468.192              91.7798       98.9509       ...
17 1747.459              2488.052              90.8495       98.9439       ...
23 1689.872              2408.364              89.9434       98.2505       ...
   dig_Impressions dig_Engagement dig_Clicks dig_Spends ooh_Spends Oil_Prices
2         NA             NA       NA                NA  NA         63
5    2157384              0        0           2808.57  NA         63
12 221973072       33529623        0         747358.36  NA         63
13 216255933        9868470        0         853006.24  NA         68
17  15879387        1402281        0          45376.06  NA         68
23 100096371        8423886        0         601876.52  NA         68
   CCI total_confirmed_cases stringency_index Temp
2   95 0                     0                21.0
5   95 0                     0                26.0
12  95 0                     0                31.0
13 107 0                     0                32.5
17 107 0                     0                37.5
23 107 0                     0                40.5